# 忽略 src 文件夹下的所有文件
/ready_chinese_food/*

# 但不忽略 src 文件夹本身
!/ready_chinese_food/

# 忽略 src 文件夹下的所有文件
/SplitAndIngreLabel/*

# 但不忽略 src 文件夹本身
!/SplitAndIngreLabel/


# 忽略 src 文件夹下的所有文件
/weights/*

# 但不忽略 src 文件夹本身
!/weights/

/.idea